---
import BasicScripts from "@components/common/BasicScripts.astro";
import "../styles/global.css";
import ApplyColorMode from "@components/common/ApplyColorMode.astro";
---

<!doctype html>
<html lang="en" class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>🎬 Maximiliano Neira</title>

    <ApplyColorMode />
  </head>
  <body
    class="antialiased text-default bg-page tracking-tight bg-white dark:bg-black transition-colors duration-400"
  >
    <slot />

    <BasicScripts />
  </body>
</html>
