---
import Layout from "@layouts/Layout.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import type { MetaData } from "@utils/types";

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata} class="">
  <slot name="header">
    <Header
      links={[
        { text: "Home", href: "#" },
        { text: "About", href: "#about" },
        { text: "Resume", href: "#resume" },
        { text: "Skills", href: "#skills" },
        { text: "Porfolio", href: "#porfolio" },
      ]}
      actions={[
        { text: "Hire Me", href: "/contact", variant: "primary" }, // Ejemplo de botón de acción
      ]}
      isSticky
      showRssFeed
      showToggleTheme
      position="center"
    />
  </slot>
  <main class="pt-12">
    <slot />
  </main>
  <slot name="footer">
    <Footer
      SiteName="Maximiliano Neira"
      socialLinks={[
        { ariaLabel: "LinkedIn", icon: "tabler:brand-linkedin", href: "#" },
      ]}
    />
  </slot>
</Layout>
