---
import Layout from "@layouts/Layout.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import type { MetaData } from "@utils/types";

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata} class="">
  <slot name="header">
    <Header
      links={[
        { text: "Inicio", href: "/#" },
        { text: "Sobre mí", href: "/#about" },
        { text: "Currículum", href: "/#resume" },
        { text: "Habilidades", href: "/#skills" },
        { text: "Portafolio", href: "/#porfolio" },
      ]}
      actions={[{ text: "Contactame", href: "/contact", variant: "primary" }]}
      isSticky
      showRssFeed
      showToggleTheme
      position="center"
    />
  </slot>
  <main class="pt-12">
    <slot />
  </main>
  <slot name="footer">
    <Footer
      SiteName="Maximiliano Neira"
      socialLinks={[
        {
          ariaLabel: "LinkedIn",
          icon: "tabler:brand-linkedin",
          href: "https://www.linkedin.com/in/maximiliano-neira-a3b6341b2/",
        },
      ]}
    />
  </slot>
</Layout>
